.dialog-box {
  position: fixed;
  left: 50% !important;
  top: 20% !important;
  height: 100px;
  margin-top: 0px !important;
}

.dialog-choices {
  position: fixed;
  left: 50% !important;
  right: auto !important;
  top: 40% !important;
  width: 35%;
}

.dialog-choice,
.dialog-choice .selected,
.dialog-choice:hover {
  width: 100%;
  height: 100px;
  background-color: transparent;
  color: transparent;
  font-size: 0px;
}

/* seletor incrível que infelizmente não dá pra usar porque o firefox é retradatário
.dialog-choice:has(#mother) {
  background-color: #430300;
} */

.choice {
  background-image: url("img/ui/dialog-box.png");
  background-size: cover;
  /* background-color: black;
  border-width: 5px;
  border-color: white;
  border-radius: 15px !important; */
  padding: 20px !important;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 16px;
}

.boyfriend {
  background-color: #44135f;
}

.mother {
  background-color: #430300;
}

.dialog-picture {
  left: 100px !important;
  right: auto !important;
}

.shadow {
  position: absolute;
  bottom: 0px !important;
  height: 95% !important;
  width: 25% !important;
  z-index: 98;
}
