.dialog-box {
  position: fixed;
  left: 50% !important;
  top: 20% !important;
  height: 100px;
  margin-top: 0px !important;
}

.dialog-choices {
  position: fixed;
  left: 50% !important;
  right: auto !important;
  top: 40% !important;
  width: 35%;
}

.dialog-choice {
  background-color: black;
  border-width: 5px;
  border-color: white;
  padding: 20px !important;
  border-radius: 15px !important;
  width: 100%;
  height: 100px;
}

.dialog-picture {
  left: 100px !important;
  right: auto !important;
}

.shadow {
  position: absolute;
  bottom: 0px !important;
  height: 95% !important;
  width: 25% !important;
  z-index: 98;
}
