.dialog-box {
  position: fixed;
  left: 50% !important;
  top: 20% !important;
  height: 75px;
  margin-top: 0px !important;
  width: 38%;
  padding: 24px 40px 24px 40px !important;
}

.dialog-choices {
  position: fixed;
  left: 50% !important;
  right: auto !important;
  top: 35% !important;
  width: 38%;
}

.dialog-choice,
.dialog-choice .selected,
.dialog-choice:hover {
  background-color: transparent !important;
  color: transparent;
  font-size: 0px;
  display: block;
  margin-top: 10px;
}

.dialog-choices > *:first-child {
  margin-top: 0px;
}

/* seletor incrível que infelizmente não dá pra usar porque o firefox é retradatário
.dialog-choice:has(#mother) {
  background-color: #430300;
} */

.dialog-picture {
  left: 100px !important;
  right: auto !important;
}

.shadow {
  position: absolute;
  bottom: 0px !important;
  height: 95% !important;
  width: 25% !important;
  z-index: 98;
}
