.dialog-box {
  position: fixed;
  right: 53% !important;
  left: auto !important;
  top: 20% !important;
  height: 100px !important;
  margin-top: 0px !important;
  width: 32% !important;
  padding: 24px 40px 24px 40px !important;
}

.dialog-choices {
  position: fixed !important;
  right: 50% !important;
  left: auto !important;
  top: 34% !important;
  width: 38% !important;
}

.dialog-choice,
.dialog-choice .selected,
.dialog-choice:hover {
  background-color: transparent !important;
  color: transparent !important;
  font-size: 0px !important;
  display: block !important;
  margin-top: 0px !important;
}

.dialog-choices > *:first-child {
  margin-top: 15px !important;
}
