/*  See https://docs.narrat.dev/guides/theming-the-game-and-ui for info on how to customise your game with CSS. */

@font-face {
  font-family: "Laila-Light";
  font-style: normal;
  font-weight: normal;
  src: url("public/fonts/Laila-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Laila-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("public/fonts/Laila-Regular.ttf") format("woff2");
}

#app {
  /* Customise CSS variables here. They will override the existing narrat ones. You can also add your own variables */
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
}

/* Add any other CSS you want here */
.viewport-layer-background {
  background-image: url(&quot;img/backgrounds/kitchen.png&quot;);
  background-size: 100% auto;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100% !important;
  height: 100% !important;
}

.dialog {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dialog-container {
  justify-content: flex-start;
}

.dialog-box {
  background-image: url("public/img/ui/tall-panel.png");
  background-size: 100% 100%;
  border-radius: 4px !important;
  position: fixed;
  width: 35%;
  height: 142px;
  /* background-color: black;
  border-width: 5px;
  border-color: white;
  border-radius: 15px !important; */
  padding: 35px !important;
  transform: none !important;
}

.dialog-title {
  font-family: "Laila-Regular";
  font-size: 18px;
}

.dialog-text {
  color: white;
  font-family: "Laila-Light";
  font-size: 18px;
}

.list-enter-active,
.list-leave-active {
  transition: unset;
}

.dialog-picture {
  position: absolute;
  right: -10px !important;
  bottom: -30px !important;
  height: 96% !important;
  width: auto !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  z-index: 99;
}

.interact-button,
.interact-button a:hover {
  position: fixed;
  bottom: 1%;
  left: 1%;
  z-index: 999;
}

.hud-stat,
#system-menu-button,
#menu-menu-button {
  visibility: hidden;
}

.choice {
  background-image: url("public/img/ui/short-panel.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 42px 83px 42px 83px;
  width: 100%;
  height: 142px;
  color: white;
  font-size: 16px;
}

.boyfriend {
  background-image: url("public/img/ui/choice-panel-ex-bf.png");
  background-size: 99.2%;
}

.friend {
  background-image: url("public/img/ui/choice-panel-friend.png");
  background-size: 99.2%;
  padding: 52px 83px 42px 83px;
}

.mother {
  background-size: 85%;
}

.dialog-choice.selected > .choice {
  background-image: url("public/img/ui/short-panel-highlighted.png");
}

.dialog-choice.selected > .boyfriend {
  background-image: url("public/img/ui/choice-panel-ex-bf-highlighted.png");
}

.dialog-choice.selected > .mother {
  background-image: url("public/img/ui/choice-panel-ex-bf-highlighted.png");
  background-size: cover !important;
}

.dialog-choice.selected > .friend {
  background-image: url("public/img/ui/choice-panel-friend-highlighted.png");
}
