/*  See https://docs.narrat.dev/guides/theming-the-game-and-ui for info on how to customise your game with CSS. */

@font-face {
  font-family: "CedarvilleCursive";
  font-style: normal;
  font-weight: normal;
  src: url(&quot;public/fonts/CedarvilleCursive.ttf&quot;)
    format(&quot;woff2&quot;);
}

#app {
  /* Customise CSS variables here. They will override the existing narrat ones. You can also add your own variables */
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
}

/* Add any other CSS you want here */
#viewport-layer-kitchen {
  background-image: url(&quot;img/backgrounds/kitchen.png&quot;);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100% !important;
  height: 100% !important;
}

#viewport-layer-background-kitchen {
  background-image: url(&quot;img/backgrounds/kitchen.png&quot;);
  background-size: 100% auto;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100% !important;
  height: 100% !important;
}

.dialog {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 100% !important;
  bottom: 0 !important;
  right: 0 !important;
}

.dialog-box {
  background-color: black;
  position: absolute;
  width: 35%;
  height: 142px;
  border-width: 5px;
  border-color: white;
  padding: 20px !important;
  border-radius: 15px !important;
}

.dialog-text {
  color: white;
  font-family: "CedarvilleCursive";
  font-size: 22px;
}

.dialog-picture {
  position: absolute;
  right: 100px !important;
  bottom: 0px !important;
  height: 90% !important;
  width: auto !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  z-index: 99;
}

/* .interact-button {
  visibility: hidden;
} */
